*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.gra{
    height: 100px;
    display: flex;
    gap: 40px;
    align-items: center;
}
.but{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

button{
    padding: 5px 20px;
    border: none;
    outline: none;
}