*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.input{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input input{
    height: 30px;
    width: 200px;
    padding: 30px;
}

.input button{
    padding: 10px;
    font-size: 13px;
}

.output{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}