*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    /* border: 1px solid red; */
    display: grid;
    place-items: center;
    padding: 50px;
    /* height: 100vh; */
    color: white;
    
}

.container .box{
    /* border: 1px solid red; */
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    background: linear-gradient(to right,rgb(39, 111, 114),rgb(37, 49, 57));
    border-radius: 20px;
    overflow: hidden;
    
}



.container .box .title h1{
    font-size: 2em;
    text-align: center;
}

.container .box .name {
    /* border: 10px solid; */
    /* display: flex;
    flex-direction: column; */
    

    
}

.container .box .name #error{
    margin-top: 10px;
    display: block;
    color: rgb(245, 140, 140);
}



.container .box .name label{
    font-size: 1.5em;
    
}

.container .box .name input{
    width: 100%;
    margin-top: 5px;
    height: 25px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    padding: 10px;
    color: white;
}

.container .box .but{
    /* border: 1px solid wheat; */
    margin-top: 15px;
    display: grid;
    place-items: center;

}
.container .box .but button{
    padding: 0.7em 7em;
    border: none;
    background-color: white;
    border-radius: 10px;
}



.container .box .out{
    /* border: 1px solid red; */
}

.container .box .out label{
    font-size: 1.2em;
}

