*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.tag{
    /* border: 1px solid red; */
    display: flex;
    /* padding: 10px; */
    flex-direction: column;
}



input{
    width: 60vw;
    margin-bottom: 10px;
    height: 40px;
    padding-left: 20px;
    
}

button{
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: black;
}

.error{
    color: red;
}